body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 50px;
}

.calculadora {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
  margin: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

h2 {
  margin-top: 20px;
  color: #b30000;
}

#resultado{
    font-weight: bold;
    font-size: 24px;
    color: #b30000;
}


